{% raw %}{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock description %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock viewport %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endraw %}{{cookiecutter.project_name}}{% raw %}{% endblock title %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

    {% block css %}
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

      {% block css-app %}
      <!-- CSS section for apps -->
      {% endblock css-app %}

    {% endblock css%}

  </head>

  <body>

    {% block navbar %}
    <!-- top navbar -->
    {% include "component/navbar.html" %}    
    {% endblock navbar %}

    {% block content %}
    <div class="container">
        <p>Use this document as a way to quick start any new project.</p>
    </div> <!-- /container -->
    {% endblock content %}

    {% block footer %}
    <!-- footer -->
    {% include "component/footer.html" %}    
    {% endblock footer %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/scripts.js' %}"></script>

      {% block javascript-app %}
      <!-- JavaScript section for apps -->
      {% endblock javascript-app %}

    {% endblock javascript %}
  </body>
</html>{% endraw %}
