{% raw %}{% load i18n %}
{% load avatar_tags %} 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {% block innavbar %}

      {% endblock innavbar %}


      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Notifications" %}</a> 
        </li> 
        <li class="nav-item"> 
          <!--<a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>-->
          <div class="dropdown"> 
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuUserProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
              {% avatar user 45 class="img-circle img-responsive img-thumbnail" id="user_avatar" %} 
            <span class="caret"></span>
            </button> 
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuUserProfile"> 
              <li><a href="#">Action</a></li> 
              <li><a href="#">Another action</a></li> 
              <li><a href="#">Something else here</a></li> 
              <li role="separator" class="divider"></li> 
              <li><a href="#">Separated link</a></li> 
            </ul> 
          </div> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>{% endraw %}
